:root {
  /* Colors */
  --anchor-color: #008e76;
  --accent-color: #1de9b6;
  --bright-color: #fefefe;
  --dark-color: #000;
  --dark-gray-color: #a9a9a9;
  --gray-color: #dedede;

  /* Fonts */
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

  /* Sizes */
  --border-radius: 3px;

  /* Spacing */
  --xs-horizontal-spacing: 1rem;
  --sm-horizontal-spacing: 2rem;
  --md-horizontal-spacing: 4rem;
  --lg-horizontal-spacing: 6rem;
  --xl-horizontal-spacing: 0;
}
